<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Moja pierwsza strona!</title>


</head>
<body style="background-color: #ECEFF1">
<br>
<br>
<center><font face="Times" size="8" color="black" >Dawid Mróz</font></center>
<center><font face="Times" size="3"  color="Gray" >Mój pierwszy projekt strony</font></center>
<br>
<br>
<hr style="height:1px;border-width:0;color:gray;background-color:gray">

<center><a href=""> O MNIE </a>&nbsp;  &nbsp; &nbsp;  &nbsp;  KONTAKT &nbsp;&nbsp; &nbsp; &nbsp; PROJEKTY</center>

<hr style="height:1px;border-width:0;color:gray;background-color:gray">
<br>
<div style="text-align: center"><img src="https://cdn-media-1.freecodecamp.org/images/TJLA0zPJXSOVCMWG9frHnNBbXfxA6AAZp3DM" alt="Prawa AUTORSKIE?"></div>
</body>
</html>